.socialIcons {
  display: flex;
  flex-direction: row;
  width: 320px;
  height: 96px;
  margin-top: 40px;
}
.socialItem {
  width: 96px;
  height: 96px;
  margin-right: 16px;
  background-color: blue;
  font-size: 32px;
  color: white;
  border-radius: 56%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.fa-brand {
  width: 32px;
  height: 32px;
}
