.description{
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 28px;
    color: #000000;
    font-family: 'Kanit';
    margin: 3px 24px 20px 24px;
    min-width: 2.5rem;

}
.main-descript{
    width: 100%;
    height: 5.6rem;
}
