// Colors
$color-lightblue : #4CC9F0;
$color-blue : #2D00F7 ;
$color-purple : #6A00F4;
$color-yellow : #FFBE0B ;
$color-white : #FFFFFF;
$color-black : #000000;
$color-red : #F20000 ;
$color-green : #00B71D ;

// Sizes

$social-link-height : 6rem;
$social-link-width : 6rem;

$btn-height : 3.5rem;

$btn-width-xxl : 12.5rem; // 200
$btn-width-xl : 10rem; // 160
$btn-width-l : 9rem; // 144
$btn-width-m : 7rem; // 112
$btn-width-s : 4.5rem; // 72
$btn-width-xs : 3.5rem; // 56
