.navBar {
    position: fixed;
    width: 90%;
    height: 101px;
    left: 5%;
    top: 24px;
    z-index: 111;
    background-color: #fff;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 55555;
}