* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.mainFooter {
  width: 1440px;
  height: 1013px;
  top: 5590px;
  position: absolute;
  width: 1440px;
  height: 1013px;
  left: 0px;
  top: 5590px;
}
