.section2About{
width: 48.5%;
height: 38.9rem
}
.title-about{
font-family: 'Kanit';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.54em;
text-transform: uppercase;
color: #2D00F7;
}
.information{
    font-family: 'Kanit';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 73px;
color: #000000;
}
.sec2-title{
    font-family: 'Kanit';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 27px;
color: #000000;
opacity: 0.5;
}

.sec2-title-main{
    border-left: 2px solid blue;
}

.section2About div p {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px; 
    color: #000000; 
    padding: 0px 5px;
}
.see{
    background-color: white;
    width: 143px;
    height: 56px;
    border: 2px solid #000000;
    border-radius: 40px;
    font-family: "Kanit";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: -280px;
}
.see-title{
    font-family: 'Kanit';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #000000;
}