.Navlogo {
    width: 154px;
    height: 69px !important;
    margin: 20px 0 20px 40px;
    background: url('../../assets/navlogo.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
}