.traning-links{
    display: flex;
    margin-right: 1.5rem;
    margin-left: 1.2rem;
    justify-content: space-between;
    color: inherit;
    margin-top: 2.5rem ;

}
.link2{
    text-decoration: none;
    color: inherit;
}